<%- include('../partials/header') %>


<h1>Placeholder</h1>

<div class="container text-center">
  <h1>Bus Routes</h1>
  <ul class="list-unstyled">
    <% routes.forEach(route => { %>
      <li><%= route.id %> : <%= route.name %> </li>
    <% }); %>
  </ul>
</div>

<%- include('../partials/footer') %>