<%- include('../partials/header') %>
<div class="container text-center">
<h1>ETAs for Stop ID: <%= stopId %></h1>

<h2>The Current Estimate for Arrival is</h2>

<% if (etas && etas.length > 0) { %>
    <ul>
        <% etas.forEach(eta => { %>
            <li class="list-unstyled">
                <p class="h2"><%= eta %></p>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p>No ETAs available for this stop.</p>
<% } %>
</div>
<%- include('../partials/footer') %>