<%- include('./partials/header')  %>

<div class="container text-center">
  <h1 class="text-center">Worm Tracker Gang</h1>
  <a href="./routes/allroutes" class="btn btn-primary me-3">View Bus Routes</a>
</div>



<%- include('./partials/footer')  %>