<%- include('./partials/header')  %>

<div class="container">
  <h1 class="text-center">Worm Tracker Gang</h1>
</div>

<a href="./routes/allroutes" class="btn btn-primary me-3">View Bus Routes</a>


<%- include('./partials/footer')  %>